EXPO_PUBLIC_API_BASE_URL=https://qhekasefqqoiibjvhfvy.supabase.co/functions/v1
EXPO_PUBLIC_NOD_PROVIDER_API_KEY=replace-with-provider-api-key
EXPO_PUBLIC_NOD_CUSTOMER_API_BASE_URL=https://erssscbpzsosmvpusnru.supabase.co/functions/v1/nod-api
EXPO_PUBLIC_NOD_CUSTOMER_API_KEY=replace-with-customer-api-key
EXPO_PUBLIC_NOD_ADMIN_API_BASE_URL=https://uzirhdcwtylpmpbfjkzv.supabase.co/functions/v1
EXPO_PUBLIC_NOD_ADMIN_API_KEY=replace-with-admin-api-key
